body {
    padding: 0;
    margin: 0;
    background: #1c2833;
    font-family: Arial, Helvetica, sans-serif;
}



/* Navigation bar starts here */
.nav-bar {
    position: sticky;
    top: 0;
    background: #1c2833;
    width: 100%;
    display: flex;
    align-items: center;
    height: 10vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 1px 1px 3px black;
    z-index: 2;
}
#logoutBtn{
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.brand {
    flex: 1;
    font-family: "Righteous", cursive, Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.navigation {
    flex: 3;
    text-align: right;
    font-family: "Marvel", sans-serif;
    font-size: 20px;
}

.navigation a {
    margin-right: 80px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navigation a:hover {
    color: #09d5b0;
}

.icons {
    margin-right: 20px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 6px;
}

/* Navigation bar responsivity */

.hamburger {
    right: 0;
    margin-right: 30px;
    display: none;
    position: absolute;
}

.hamburger:hover {
    cursor: pointer;
}

.hamb-line {
    border: 2px solid white;
    margin-bottom: 3px;
    width: 15px;
}

.resp-nav {
    background-color: #1c2833;
    text-align: center;
    position: fixed;
    right: 0;
    padding-top: 30px;
    width: 50%;
    color: white;
    height: 100vh;
    box-shadow: 1px 1px 3px black;
    display: none;
    z-index: 1;
}

.resp-nav a {
    display: block;
    margin-bottom: 80px;
    font-family: "Marvel", sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.resp-nav a:hover {
    background-color: #09d5b0;
}

/* Navigation bar ends here */
.header {
    width: 100%;
    background-color: #26425C;
    text-align: center;
    color: white;
    padding: 20px 0px 20px;
    font-family: 'Marvel', Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}
.container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}
.blog{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.blog-content-container{
    width: 70%;
    color: white;
    background-color: #26425C;
    border-radius: 10px;
    border : 1px solid #8892b0;
    min-height: 300px;
    max-height: 800px;
}
.blog-content{
    padding: 10px;
}

.img-container img{
    width: 100%;
    border-radius: 10px;
}
.blog-head{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
}
.title{
    flex: 1;
    text-align: left;
    font-size: 25px;
}
.date{
    flex: 1;
    text-align: right;
}
.iconsThumb{
    margin-top: 20px;
    padding: 10px;
}
.iconsThumb span{
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}





.ico i:hover {
    cursor: pointer;
}

.footerlast {
    text-align: center;
    width: 80%;
    margin: auto;
    color: white;
    font-family: "Maven Pro", "Marvel", sans-serif;
    font-size: 12px;
    margin-top: 150px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 896px) {

    /* Navigation Bar */
    .navigation {
        display: none;
    }

    .brand {
        flex: none;
        margin-left: 30px;
    }

    .hamburger {
        display: block;
    }

    /* Ends here */
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        margin: none;
    }
    .title{
        font-size: 20px;
    }

    .blog {
        width: 100%;
    }
    .blog-content-container{
        width: 90%;
    }

}